
[MASTER]
ignore=migrations, migrations_reset, tests
max-line-length=100



[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100


[DESIGN]
# Maximum number of arguments for function / method
max-args=5

# Maximum number of attributes for a class (see R0902).
max-attributes=10

# Maximum number of boolean expressions in an if statement (see R0916).
max-bool-expr=5

# Maximum number of branch for function / method body (see R0912).
max-branches=12

# Maximum number of locals for function / method body (see R0914).
max-locals=15

# Maximum number of parents for a class (see R0901).
max-parents=20

# Maximum number of public methods for a class (see R0904).
max-public-methods=20

# Maximum number of return / yield for function / method body (see R0911).
max-returns=6

# Maximum number of statements in function / method body (see R0915).
max-statements=50
